.package-grid{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    background: linear-gradient(
        155deg,
        #9b4fd0 0%,
        var(--main-palette2) 20%,
        var(--main-palette4) 60%,
        var(--main-palette5) 75%,
        #3d1957 100%
    );
    border-radius: 15px;
    box-shadow: 5px 8px 6px 4px rgba(0,0,0,0.4);
    padding: 15px;
    margin: 25px;
}

.alacarte-grid{
    display: grid;
    grid-template-columns: auto auto;
    background: linear-gradient(
        155deg,
        #9b4fd0 0%,
        var(--main-palette2) 20%,
        var(--main-palette4) 60%,
        var(--main-palette5) 75%,
        #3d1957 100%
    );
    border-radius: 15px;
    box-shadow: 5px 8px 6px 4px rgba(0,0,0,0.4);
    padding: 15px;
    margin: 50px;
    max-width: 500px;
}

.grid-box{
    background: rgba(225,225,225,0.7);
    border: solid 1px #171717;
    color: #171717; 
    padding: 5px;
}

@media screen and (max-width: 650px){
    .package-grid{
        width: 98vw;
        margin: 20px -6vw;
        grid-template-columns: 20% 20% 20% 20% 20%;
        padding-inline: 1vw;
    }

    .grid-box{
        font-size: auto;
        font-size: 0.8em;
        overflow: hidden;        
    }

    .alacarte-grid{
        width: 90%;
        margin: auto;
        margin-top: 8px;
    }
}