.menu-img-holder{
    position: relative;    
    height: 25vh;
    width: 100%;
    max-width: 1200px;
    margin: auto;
    overflow: hidden;
    margin-top: 20px;
}

.menu-img{
    margin-top: -12vw;
    width: 100%;
}

@media screen and (min-width: 1200){

    .menu-img{
        margin-top: -150px;
    }
}

@media screen and (max-height: 1000){
    .menu-img-holder{
        height: 15vh;
        max-width: 650px;
        bottom:0;        
    }
    
    .menu-img{
        margin-top: -12%;
    }
}

@media screen and (max-width: 650){
    .menu-img-holder{   
        height: 15vh;     
        bottom: 0;
    }
}